{:port 8082
 :build :dev
 :app
 {:credentials
  {:consumer-key "wQ1jVJPRrmj5zb1Xpr0VjToYf"
   :consumer-secret "PjwGeITzGvELnfTKuVdgpCJp29QXGcpuUu3AhQZPrnomOUYrqw"
   :access-token "2552274109-JfpLz3PWoBIRkBWDJu7459KELY4Jw6j16k9VSJf"
   :access-token-secret "KrS4X3ViRjfUgGLWuD5pUOM7wAlGbrZpFnF9k0uevf3Mj"}
 :follow [114508061 18016521 5734902 40227292 2834511 9204502 15071293 19232587 15243812 8720562 1101354170 15738602 18774524 5494392]
  :track ["@FAZ_NET" "@tagesschau" "@dpa" "@SZ" "@SPIEGELONLINE" "@BILD" "@DerWesten" "@ntvde" "@tazgezwitscher" "@welt" "@ZDFheute" "@N24_de" "@sternde" "@focusonline"]}


